* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-weight: 600;
}
.top {
  background-color: #090423;
  height: 130px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top p {
  color: white;
  text-align: center;
  font-size: 28px;
  width: 100%;
  letter-spacing: 3px;
  text-shadow: 0 0 5px white;
}
.bottom {
  margin-top: 130px;
  margin-left: 90px;
  padding-top: 60px;
  min-height: calc(100vh - 130px);
  background-color: #1b1e54;
  position: relative;
}

.bottom table {
  width: 1260px;
  position: absolute;
  margin-left: 90px;
  min-height: 450px;
  max-height: 450px;
}

.bottom tbody {
  width: 1260px;
  overflow-y: auto;
  max-height: 400px;
  position: absolute;
}

.small{
  width: 120px;
}
.medium{
  width: 180px;
}
.large{
  width: 240px;
}

.btn-approve,.btn-reject{
  width:100px; 
  margin-top: 0px;
}

#searchCriteria {
  position: absolute;
  left: 95px;
  top: 30px;
  width: 250px;
}

.search {
  width: 250px;
  margin-left: 380px;
  margin-top: -30px;
  margin-bottom: 25px;
  background-color: #090423;
}

.search input {
  border-color: #121560 !important;
  box-shadow: 0 0 0 0.2rem rgba(97, 98, 191, 0.25) !important;
  background-color: #090423;
  color: white !important;
}

.form-control:focus {
  border-color: #121560 !important;
  box-shadow: 0 0 0 0.2rem rgba(97, 98, 191, 0.25) !important;
  background-color: #041423 !important;
  color: white !important;
}

.form-control::placeholder {
  color: rgb(104, 104, 104) !important;
}

select {
  background-color: #041423 !important;
  color: rgb(126, 126, 126) !important;
  border-color: #121560 !important;
  box-shadow: 0 0 0 0.2rem rgba(97, 98, 191, 0.25) !important;
}
